html { 
	font-family: "Courier", monospace;
	scrollbar-width: none;
	height: 100%;
}

html::-webkit-scrollbar {
	width: 0;
}

.nobullet {
	list-style-type: none;
}

#header {
	background-color: white;
	border-bottom: dashed;
	border-width: 2px;
	position: fixed;
	z-index: 2;
	right: 0;
	left: 0;
	top: 0;
}

#header ul {
	list-style-type: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

#header li {
	float: left;
}

#header li a {
	text-decoration: none;
	padding: 14px 16px;
	text-align: center;
	display: block;
	color: black;
}

#header li a:hover {
	background-color: black;
	color: white;
}

li a {
	text-decoration: none;
	display: block;
	color: black;
}

li a:hover {
	background-color: black;
	color: white;
}

#layout {
	padding: 100px 25px 25px 25px;
	box-sizing: border-box;
	overflow-x: auto;
	max-width: 65%;
}

#layout table {
	text-align: left;	
	width: 75%;
}

#layout td {
	padding: 2px;
}

#blogpost {
	padding: 100px 25px 25px 25px;
	box-sizing: border-box;
	overflow-x: auto;
	max-width: 65%;
    margin: 0 auto;
}

.katex {
    font-size: 1em !important;
}

#sidebar {
	border-left: dashed;
	border-width: 2px;
	overflow: hidden;
	position: fixed;
	height: 100%;
	width: 35%;
	z-index: 1;
	right: 0;
	top: 0;
}

#sidebar li a:hover {
	background-color: black;
	color: white;
}

#profile {
	padding-top: 125px;
}

#profile h2 {
	text-align: center;
	color: black;
}

#profile a {
	text-decoration: none;
	color: black;
}

#profile img {
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;
	display: block;
}

#media {
	padding: 30px;
}

#media ul {
	margin: 0 auto;
	width: 100px;
}

@media only screen and (max-width: 1024px) {

	#header {
		position: relative;
        font-size: xx-small;
		right: 0;
		left: 0;
		top: 0;
	}

	#layout {
		position: relative;
        font-size: xx-small;
		padding-top: 0px;
		max-width: 100%;
	}

	#blogpost {
		position: relative;
        font-size: xx-small;
		padding-top: 0px;
		max-width: 100%;
	}

	#sidebar {
		position: relative;
		border-top: dashed;
		border-width: 2px;
		border-left: none;
		height: 600px;
		width: 100%;
		bottom: 0;
	}

	.nobullet {
		list-style-type: none;
		padding-left: 0;
	}

}
